################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/Server/appsettings.json
/Server/Server/Data/app.db-shm
/Server/Server/Data/app.db-wal
