<style>
    .route-planner-paper {
        cursor: pointer;
        transition: background-color 0.3s ease;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .route-planner-paper:hover {
        filter: brightness(0.95);
        backdrop-filter: blur(0px);
    }

    .route-planner-tile-grid {
        height: 100%;
        display: flex;
        align-items: center;      
        justify-content: center;
    }
</style>

<a href="/route-planner" style="display: block; height: 100%;">
    <MudPaper Elevation="3" Class="pa-4 route-planner-paper" Style="height: 200px;">
        <MudStack Row="true" Spacing="4" Class="route-planner-tile-grid ">
            <MudItem Class="pl-6 pl-md-0">
                <MudIcon Icon="Icons.Material.Filled.Route" Size="Size.Large" Color="Color.Primary" Style="font-size: 80px;"/>
            </MudItem>
            <MudItem>
                <MudText Typo="Typo.h4" Color="Color.Primary">
                    Route Planner
                </MudText>
            </MudItem>
        </MudStack>
    </MudPaper>
</a>
