<style>
    .carbs-paper {
        cursor: pointer;
        transition: background-color 0.3s ease;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carbs-paper:hover {
        filter: brightness(0.95);
        backdrop-filter: blur(0px);
    }

    .carbs-tile-grid {
        height: 100%;
        display: flex;
        align-items: center;      
        justify-content: center;
    }
</style>

<a href="/carbscounter" style="display: block; height: 100%;">
    <MudPaper Elevation="3" Class="pa-4 carbs-paper" Style="height: 200px;">
        <MudStack Row="true" Spacing="4" Class="carbs-tile-grid ">
            <MudItem Class="pl-6 pl-md-0">
                <img src="/nutrition.svg" alt="Nutrition Icon" style="width: 80px; height: 80px;"/>
            </MudItem>
            <MudItem>
                <MudText Typo="Typo.h4" Color="Color.Primary">
                    Calculate Carbs
                </MudText>
            </MudItem>
        </MudStack>
    </MudPaper>
</a>
