<style>
    .carbs-paper {
        cursor: pointer;
        transition: background-color 0.3s ease;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center; /* centers the grid inside the paper */
    }

    .carbs-paper:hover {
        background-color: rgba(244, 244, 252);
    }

    .carbs-tile-grid {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        /* Removed align-items from here as we handle it inside MudItem */
    }

    .carbs-icon-container,
    .carbs-text-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
</style>

<a href="/carbscounter" style="display: block; height: 100%;">
    <MudPaper Elevation="3" Class="pa-4 carbs-paper" Style="height: 200px;">
        <div Class="carbs-tile-grid"
             style="height: 100%; display: flex; justify-content: center; align-items: center; column-gap: 30px">
            <img src="/nutrition.svg" alt="Nutrition Icon" style="width: 80px; height: 80px;"/>
            <MudText Typo="Typo.h4" Color="Color.Primary" Class="text-center">
                Calculate Carbs
            </MudText>
        </div>
    </MudPaper>
</a>