<style>
    .chart-card {
        height: 150px;
        align-items: center;
        align-content: center;
    }
</style>

<MudContainer Class="mt-16 px-8 mb-16" MaxWidth="MaxWidth.False">
    <MudGrid RowSpacing="3" ColumnSpacing="3">
        <!-- KPI Tiles -->
        <KpiTiles/>

        <!-- Chart Tile -->
        <MudItem xs="12" sm="8" md="4">
            <MudCard Class="pa-4 chart-card" Elevation="3">
                <div style="margin-top: -20px">
                    <WeeklyChart/>
                </div>
            </MudCard>
        </MudItem>

        <!-- Weather, CC and Calender Tiles -->
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <WeatherTile />
                </MudItem>
                <MudItem xs="12">
                    <CarbsTile/>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="6">
            <CalenderTile/>
        </MudItem>

        <!-- Activity Table -->
        <MudItem xs="12" sm="12" md="12">
            <ActivityTable></ActivityTable>
        </MudItem>

    </MudGrid>
</MudContainer>