@page "/legal"
@using MudBlazor

<PageTitle>Legal</PageTitle>

<MudContainer Class="mt-6">
    <MudText Typo="Typo.h4" GutterBottom>Legal</MudText>
    <MudText Typo="Typo.body1">
        Cyclone GmbH<br />
        Musterstraße 1<br />
        12345 Musterstadt<br />
        Germany
    </MudText>

    <MudText Typo="Typo.subtitle2" Class="mt-4">Managing Director:</MudText>
    <MudText Typo="Typo.body1">Max Mustermann</MudText>

    <MudText Typo="Typo.subtitle2" Class="mt-4">Contact:</MudText>
    <MudText Typo="Typo.body1">
        Phone: +49 123 456789<br />
        E-Mail: support@cyclone.com
    </MudText>

    <MudText Typo="Typo.subtitle2" Class="mt-4">Project Information:</MudText>
    <MudPaper Class="d-flex align-center pa-2" Style="gap: 1rem;">
        <MudText Typo="Typo.body1">
            This website is part of a university project at DHBW Heidenheim. It has been created by students as part of their coursework and exists solely for educational purposes.
        </MudText>
        <img src="https://jobs.b-ite.com/api/v1/assets/02b99bb5-ccfb-4e16-8f03-c8bc6031dd03.png" alt="DHBW Logo" style="height: 40px; width: auto;" />
    </MudPaper>

    <MudText Typo="Typo.subtitle2" Class="mt-4">Disclaimer:</MudText>
    <MudText Typo="Typo.body1">
        Despite careful content control, we assume no liability for the content of external links. The operators of linked pages are solely responsible for their content.
    </MudText>

    <MudText Typo="Typo.subtitle2" Class="mt-4">Further Inquiries:</MudText>
    <MudText Typo="Typo.body1">
        For further questions, please contact <a href="mailto:kiticm.tin24@student.dhbw-heidenheim.de">kiticm.tin24@student.dhbw-heidenheim.de</a>.
    </MudText>
</MudContainer>
